.shadow{width:100%; float:left;box-shadow:0 0 10px #000;}
.img-wrap-tailor a{display:block}
.img-wrap-tailor{    width: 100%;
    float: left;
    overflow: hidden;
    height: 300px;
    position: relative;}
.img-wrap-tailor span{    position: absolute;
    background: #ff6600;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
    font-size: 19px;
    color: #fff;}
.box-customn{    width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin: 15px 0;box-shadow:0 0 5px #000;
    height:470px;
    max-height:470px;
}
.box-customn .imfo-area{width:100%; float:left;text-align:center;}
.box-customn .imfo-area h3{    margin: 0px;
    padding: 0px;
    color: #0c0c0c;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;}
.box-customn .imfo-area p{margin: 0px;padding:5px 0px;font-size:14px;}
.box-customn .imfo-area h4{color: #ff0000;
    font-weight: bold;
    line-height: 30px;
    font-size: 25px;}
.img-wrap-tailor img{max-width:100%;}
.box-customn a.onhover{display:none;}
.box-customn:hover a.onhover{display:block;position:absolute;top:0px;left:0px;}
.box-customn:hover a.nohover{display:none;}